body {
  font-size: 16px !important;
  font-family: sans-serif !important;
  color: #2C353D !important;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
.navbar-toggler {
  border-width: 2px !important;
  border-color: white !important;
}
span {
  float: right !important;
}
.bg-secondary {
  background-color: #2C353D !important;
}
#postlink {
    	text-decoration: none !important;
    	color: white !important;
    }
#postlink:hover {
  text-decoration: none !important;
  color: #ffc107 !important;
}
.nav-link:hover {
  color: #ffc107 !important;
}
hr {
  border-top: 3px solid #ffc107 !important;
}
.list-group-item-action {
  color: #2C353D !important;
}
.list-group-item-action:hover, .list-group-item-action:focus {
  color: #2C353D !important;
  background-color: #ffc107 !important;
}

.list-group-item-action:active {
  color: #2C353D !important;
  background-color: #ffc107 !important;
}
