---
layout: none
---
<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/custom.css">

  <title>cricket.fyi » archive</title>
  
  {% seo title=false %}
</head>
<body>
  <div class="container my-5 mx-auto">
    <div class="row mb-5">
      <div class="col-lg-1 d-none d-lg-block"></div>
      <div class="col-lg-10 d-block">
        {% include nav.html %}
        <br>
        <h5 class="d-none d-sm-block"><strong>Your Daily Cricket Round Up<span class="float-right">Everyday, 8 am IST.</span></strong></h5>
        <p class="d-block d-sm-none text-center"><strong>Your Daily Cricket Round Up<br>Everyday, 8 am IST.</strong></p>
        <br>
        <div class="bg-secondary rounded px-3 pt-4 pb-3">
          <h1 class="text-center text-warning"><strong>Archive</strong></h1>
        </div>
        <div class="row mt-5">
          <div class="col-lg-8 col-12">
            <ul class="list-item-group">
              {% for post in site.posts %}
              <li class="list-group-item"><a href="{{ post.url }}">{{ post.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
          <div class="col-lg-4 col-12">
            <h2><strong>Daily Emails</strong></h2>
            <div class="card">
              <div class="card-body">
                <form action="https://tinyletter.com/cricketfyi/" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/cricketfyi/', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
                  <div class="form-group">
                    <label for="tlemail" class="card-text">Get your daily cricket round up in your email. Just fill in your email address below and click on subscribe!</label>
                    <input class="form-control"  type="text" name="email" id="tlemail" placeholder="Email address" />
                    <input type="hidden" value="1" name="embed"/>
                    <button class="btn btn-warning mt-2" type="submit"><strong>Subscribe</strong></button>
                  </div>
                </form>
              </div>
            </div>
            <br>
          </div>
        </div>
        <hr>
        <br>
      <div class="row">
          <div class="col-md-4">
            <small><strong>About cricket.fyi</strong><br><p class="text-justify">cricket.fyi is an indepedent project by <a href="https://chaitanya.page/" target="_blank">Chaitanya</a> to get you a summary of day to day happenings in the world of cricket.<br><br>&copy; 2019 Chaitanya.</p></small>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-4"></div>
        </div>
    </div>
    <div class="col-lg-1 d-none d-lg-block"></div>
  </div>
</div>
<script src="/js/jquery-3.3.1.slim.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140287022-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-140287022-1');
</script>
</body>
</html>
