<nav class="navbar navbar-expand-md navbar-light bg-secondary rounded px-auto pt-4 pb-3">
  <a class="navbar-brand text-warning" href="/"><h1><strong>cricket<span class="text-white">.fyi</span></strong></h1></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsed" aria-controls="collapsed" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsed">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link text-white" href="/">today</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/archive">archive</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="https://twitter.com/cricketfyi"  target="_blank">twitter</a>
      </li>
    </ul>
  </div>
</nav>
