---
layout: post
title: "20 May 2019"
description: "Your Daily Cricker Round Up for 20 May 2019!"
date: 2019-05-21 11:15:00 +0000
image: https://i.imgur.com/su50lOz.png
---
<h2><strong>News</strong></h2>
<ul class="list-group">
	<li class="list-group-item list-group-item-action"><strong>Britney Cooper to replace injured Deandra Dottin</strong> for West Indies Women's tour of Ireland and England.</li>
	<li class="list-group-item list-group-item-action"><strong>India have named no changes</strong> to the provisional World Cup squad. Kedar Jadhav has recovered from his injuries and would take part in the World Cup.</li>
	<li class="list-group-item list-group-item-action">Pakistan have named 3 changes in ther World Cup squad. <strong>Asif Ali, Mohammad Amir and Wahab Riaz would replace Abid Ali, Faheem Ashraf and Junaid Khan.</strong></li>
	<li class="list-group-item list-group-item-action"><strong>Liam Dawson, James Vince and Jofra Archer replace Joe Denly, Alex Hales and David Willey</strong> in England's World Cup squad.</li>
	<li class="list-group-item list-group-item-action"><strong>Phil Tufnell and Michael Vaughan name their all-time England ODI XI:</strong> Jonny Bairstow, Marcus Trescothick, Joe Root, Kevin Pietersen, Eoin Morgan, Jos Buttler (WK), Andrew Flintoff, Ian Botham, Graeme Swann, Darren Gough, James Anderson.</li>
</ul>
<br>
<h2><strong>Editorials</strong></h2>
<div class="list-group">
	<a href="https://www.theguardian.com/sport/99-94-cricket-blog/2019/may/20/county-cricket-talking-points-somerset-surrey-to-dream-of-first-title" class="list-group-item list-group-item-action"><strong>County cricket talking points: Somerset dare to dream of first title</strong></a>
	<a href="https://www.theguardian.com/sport/2019/may/20/australia-world-cup-guide-gameplan-key-player-prediction" class="list-group-item list-group-item-action">Australia World Cup guide: gameplan, key player and prediction</a>
	<a href="https://www.cricbuzz.com/cricket-news/108069/world-cup-1983-when-a-stopover-turned-glorious" class="list-group-item list-group-item-action"> World Cup 1983: When a stopover turned glorious </a>
</div>
<br>
<h2><strong>Interviews</strong></h2>
<div class="list-group">
	<a href="https://www.theguardian.com/sport/2019/may/20/moeen-ali-england-cricket-world-cup-ashes-interview" class="list-group-item list-group-item-action">Read as <strong>Moeen Ali</strong> talks about the increasing hate in the world and how he plays his part in decreasing the hate. He also talks about hate and respect in cricket and that he wants the spectators during the Ashes to welcome Steve Smith and David Warner with respect.</a>
	<a href="https://www.cricbuzz.com/cricket-news/108068/rhodes-chuffed-with-bangladesh-squad-depth-ahead-of-world-cup" class="list-group-item list-group-item-action">Read as Bangladesh head coach <strong>Steve Rhodes</strong> talks about the squad depth that the team is taking in to the World Cup.</a>
	<a href="http://www.espncricinfo.com/story/_/id/26785649/adam-zampa-keen-continue-dual-spin-threat-nathan-lyon" class="list-group-item list-group-item-action">Read as <strong>Adam Zampa</strong> talks about the difference between his and Nathan Lyon's roles and how they complement each other.</a>
	<a href="https://www.bbc.com/sport/cricket/48345192" class="list-group-item list-group-item-action">Read as ECB chief executive <strong>Tom Harrison</strong> talks about The Hundred.</a>
	<a href="https://www.cricbuzz.com/cricket-news/108078/whatever-happens-you-need-mahi-bhai-chahal" class="list-group-item list-group-item-action">Read as <strong>Yuzvendra Chahal</strong> talks about the need of MSD in the Indian team and his relationship with Kuldeep Yadav</a>
	<a href="https://www.cricbuzz.com/cricket-news/108079/this-time-england-will-try-seriously-to-cross-the-boundary-lara" class="list-group-item list-group-item-action">Read as <strong>Brian Lara</strong> about his World Cup memories and his favourites for the 2019 World Cup.</a>
</div>
<p><strong>Asif Ali's young daughter died from cancer in a United States hospital on Sunday. Our condolences and prayers go to Asif Ali & his family.</strong></p>
<p><em>We apologise for the late publishing of today's issue.</em></p>
<br>
</div>
<div class="col-lg-4 col-12">
	<h2><strong>Daily Emails</strong></h2>
	<div class="card">
		<div class="card-body">
			<form action="https://tinyletter.com/cricketfyi/" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/cricketfyi/', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
				<div class="form-group">
					<label for="tlemail" class="card-text">Get your daily cricket round up in your email. Just fill in your email address below and click on subscribe!</label>
					<input class="form-control"  type="text" name="email" id="tlemail" placeholder="Email address" />
					<input type="hidden" value="1" name="embed"/>
					<button class="btn btn-warning mt-2" type="submit"><strong>Subscribe</strong></button>
				</div>
			</form>
		</div>
	</div>
	<br>
	<h2><strong>Scorecards</strong></h2>
	<ul class="list-group">
		<li class="list-group-item"><strong>ICC Men's T20 World Cup Africa Region Final</strong></li>
		<li class="list-group-item">Uganda<span>142/7</span><br>Botswana<span>90</span><br><em>Uganda won by 52 runs.</em></li>
		<li class="list-group-item">Nigeria<span>105/5</span><br>Kenya<span>106/2</span><br><em>Kenya won by 8 wickets.</em></li>
		<li class="list-group-item">Ghana<span>91/7</span><br>Namibia<span>92/1</span><br><em>Namibia won by 9 wickets.</em></li>
		<li class="list-group-item"><strong>County Championship Division One</strong></li>
		<li class="list-group-item">Hampshire<span>288/6</span><br>Nottinghamshire<br><em>Stumps day one.</em></li>
		<li class="list-group-item">Surrey<span>420/9</span><br>Kent<br><em>Stumps day one.</em></li>
		<li class="list-group-item">Somerset<span>209</span><br>Warwickshire<span>110/7</span><br><em>Stumps day one.</em></li>
		<li class="list-group-item"><strong>County Championship Division Two</strong></li>
		<li class="list-group-item">Derbyshire<span>378</span><br>Glamorgan<span>214/4</span><br><em>Stumps day two.</em></li>
		<li class="list-group-item">Durham<span>158</span><br>Gloucestershire<span>120/5</span><br><em>Stumps day one.</em></li>
		<li class="list-group-item">Sussex<span>370/6</span><br>Northamptonshire<br><em>Stumps day one.</em></li>
		<li class="list-group-item">Worcestershire<span>172</span><br>Lancashire<span>88/5</span><br><em>Stumps day one.</em></li>
	</ul>
