---
layout: post
title: "17 May 2019"
description: "Your Daily Cricker Round Up for 17 May 2019!"
date: 2019-05-18 03:00:00 +0000
image: https://i.imgur.com/su50lOz.png
---
<h2><strong>News</strong></h2>
<ul class="list-group">
	<li class="list-group-item list-group-item-action">After being left out by both Melbourne Renegades and his state side Victoria, Australia batsman <strong>Cameron White has been signed up by Adelaide Strikers</strong> for a one year Big Bash League contract. This would be White's 19th Australian season.</li>
	<li class="list-group-item list-group-item-action"><strong>India Women would travel to Queensland for a women's A series against Australia in December 2019.</strong> The series would feature 3 One Day matches and 3 T20s. Australia A Women would also visit England in July 2019 for a series taking place alongside the women's Ashes.</li>
	<li class="list-group-item list-group-item-action">New Zealand wicketkeeper <strong>Tom Latham has fractured his finger and is in doubt for New Zealand's first World Cup game</strong> on June 1. Back-up wicketkeeper Tom Blundell is expected to debut if Latham doesn't recover before the match.</li>
	<li class="list-group-item list-group-item-action"><strong>The total prize money for the 2019 World Cup has been set to $10 million</strong> as it was back in 2015. The winners would take $4 million ($250,000 more than 2015) and runners-up would take $2 million (again $250,000 more than 2015).</li>
	
	<li class="list-group-item list-group-item-action">Chasing 210 in 24 overs would never have been easy for Bangladesh but with help from Mosaddek Hossain (52 not out off 24) and Soumya Sarkar (66 off 41) they chased it down with 7 balls to spare. The match was hit by rain in the 21st over of the first innings. Reduced to 24 overs, West Indies managed to get to a score of 152/1. Openers Shai Hope (74) and Sunil Ambris (64 not out) did all the scoring but was too less for the Bangladesh batsmen. <strong>Bangladesh beat West Indies by 5 wickets (D/L). Bangladesh won the Ireland Tri-Nation Series.</strong></li>
	<li class="list-group-item list-group-item-action">Put in to bat first, Pakistan based their innings around Babar Azam's 115 with both Fakhar Zaman and Mohammad Hafeez scoring half-centuries. Tom Curran took 4 for 75 in his 10 overs. In reply, the openers got England to a great start with Jason Roy scoring 114 off 89. But after a flutter of wickets in the middle order, it was Ben Stokes (71 not out) and Tom Curran (31) who took England home in a real close game. <strong>England beat Pakistan by 3 wickets.England have won the series 3-0 with one match to go.</strong></li>
	<li class="list-group-item list-group-item-action">Scotland batsman <strong>Calum MacLeod says the team will try to prove that they deserve to play amongst the best Test natons in the world</strong> in their upcoming 2 ODIs against Sri Lanka.</li>
	<li class="list-group-item list-group-item-action"><strong>Pakistan Cricket Board to hold talks with Cricket Australia and England and Wales Cricket Board</strong> to invite their teams to play series in Pakistan after the World Cup in an attempt to revive international cricket in Pakistan.</li>
	<li class="list-group-item list-group-item-action">India all-rounder <strong>Irfan Pathan has given his name for the 2019 Caribbean Premier League players' draft</strong> that would take place on May 22. His availablity will be subject to clearance from the BCCI.</li>
	<li class="list-group-item list-group-item-action">Gloucestershire have re-signed 23 year old Yorkshire fast bowler Josh Shaw on a month long loan.</li>
	<li class="list-group-item list-group-item-action">Sussex have signed up 22 year old Yorkshire fast bowler Jared Warner for a month long loan.</li>
	<li class="list-group-item list-group-item-action"><strong>Sri Lanka announce A squad for tour of India at the end of May.</strong> Sri Lanka  A will play 2 four-day games and 5 one-day matches during their three week tour.<br><strong>Four-Day Squad:</strong> Ashan Priyanjan (C), Akila Dananjaya, Asitha Fernando, Bhanuka Rajapaksa, Chamika Karunaratne, Kamindu Mendis, Lahiru Kumar, Lakshan Sandakan, Malinda Pushpakumara, Niroshan Dickwella, Pathum Nissanka, Priyamal Perera, Sadeera Samarawickrama, Sangeeth Cooray, Vishwa Fernando<br><strong>One-Day Squad:</strong> Ashan Priyanjan (C), Akila Dananjaya, Bhanuka Rajapaksa, Chamika Karunaratne, Danushka Gunathilaka, Dasun Shanaka, Ishan Jayaratne, Kamindu Mendis, Lahiru Kumara, Lakshan Sandakan, Niroshan Dickwella, Pathum Nissanka, Sadeera Samarawickrama, Shehan Jayasuriya</li>
	<li class="list-group-item list-group-item-action">Kent's last 4 batsmen played over 200 balls in a massive resistance after the team lost 6 wickets for 118 while chasing a massive 383. For Yorkshire, fast bowler Ben Coad took 6 for 52 while Daniel Bell-Drummond (41) top scored for Kent. <strong>Yorkshire beat Kent by 172 runs.</strong></li>
	<li class="list-group-item list-group-item-action">With an overnight score of 42/2, Warwickshire's innings never took off as they were bowled out for 109. Fidel Edwards took 3 for 36, while Kyle Abbott, Liam Dawson and Keith Barker took 2 wickets each. Rob Yates top scored with 21. <strong>Hampshire beat Warwickshire by 314 runs.</strong></li>
	<li class="list-group-item list-group-item-action">Needing 16 to win, Haseeb Hameed smashed 3 boundaries as <strong>Lancashire beat Northamptonshire by 10 wickets.</strong></li>
	<li class="list-group-item list-group-item-action">Chris Rushworth took a burst of 5 wickets to reduce Worcestershire to 55/5 in a chase of 81. Ben Cox (8 not out) and Ross Whiteley (15 not out) finished off the innings. <strong>Worcestershire beat Durham by five wickets.</strong></li>
</ul>
<br>
<h2><strong>Editorials</strong></h2>
<div class="list-group">
	<a href="https://www.theguardian.com/sport/2019/may/17/league-of-gentlemen-how-cricket-holds-back-women-coaches" class="list-group-item list-group-item-action">How female cricket coaches are blocked by the league of gentlemen 🔗</a>
	<a href="http://www.espncricinfo.com/story/_/id/26766366/george-dobell-reviews-sense-humour-sense-justice-fred-rumsey" class="list-group-item list-group-item-action">The many lives of Fred Rumsey 🔗</a>
	<a href="https://www.cricbuzz.com/cricket-news/108034/world-cup-1975-when-west-indies-didnt-feel-like-world-champions" class="list-group-item list-group-item-action"><strong>World Cup 1975: When West Indies didn't feel like World Champions  🔗</strong></a>
	<a href="http://www.espncricinfo.com/story/_/id/26767611/south-africa-prepare-feel-heat-one-eye-england-heavens" class="list-group-item list-group-item-action">South Africa prepare to feel the heat ... with one eye on England's heavens 🔗</a>
	<a href="http://www.espncricinfo.com/story/_/id/26767011/instability-pcb-hampering-efforts-attract-former-players" class="list-group-item list-group-item-action">Instability of PCB hampering efforts to attract former players 🔗</a>
</div>
<br>
<h2><strong>Interviews</strong></h2>
<div class="list-group">
	<a href="https://www.bbc.com/sport/cricket/48318219" class="list-group-item list-group-item-action">Read as <strong>Jason Roy</strong> describes his century against Pakistan as a very emotional one. He spent his morning in the hospital with his baby daughter. 🔗</a>
	<a href="http://www.espncricinfo.com/story/_/id/26767903/west-indies-captain-jason-holder-targets-afghanistan-2019-world-cup" class="list-group-item list-group-item-action">Read as <strong>Jason Holder</strong> talks about his captaincy, his team and about targeting Afghanistan at the World Cup 🔗</a>
	<a href="https://www.cricbuzz.com/cricket-news/108035/full-strength-south-africa-an-even-match-for-india-ngidi" class="list-group-item list-group-item-action">Read as <strong>Lungi Ngidi</strong> talks about his and his team's World Cup preparation, about playing in England and beating India 🔗</a>
</div>
<br>
</div>
<div class="col-lg-4 col-12">
	<h2><strong>Daily Emails</strong></h2>
	<div class="card">
		<div class="card-body">
			<form action="https://tinyletter.com/cricketfyi/" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/cricketfyi/', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
				<div class="form-group">
					<label for="tlemail" class="card-text">Get your daily cricket round up in your email. Just fill in your email address below and click on subscribe!</label>
					<input class="form-control"  type="text" name="email" id="tlemail" placeholder="Email address" />
					<input type="hidden" value="1" name="embed"/>
					<button class="btn btn-warning mt-2" type="submit"><strong>Subscribe</strong></button>
				</div>
			</form>
		</div>
	</div>
	<br>
	<h2><strong>Scorecards</strong></h2>
	<ul class="list-group">
		<li class="list-group-item"><strong>Pakistan tour of England</strong></li>
		<li class="list-group-item">Pakistan<span>340/7</span><br>England<span>341/7</span><br><em>England won by 3 wickets.</em></li>
		<li class="list-group-item"><strong>Ireland Tri-Nation Series</strong></li>
		<li class="list-group-item">West Indies<span>152/1</span><br>Bangladesh<span>213/5</span><br><em>Bangladesh won by 5 wickets (D/L).</em></li>
		<li class="list-group-item"><strong>ICC Women's T20 World Cup Americas Region Qualifier</strong></li>
		<li class="list-group-item">Canada Women<span>66/6</span><br>United States of America Women<span>67/0</span><br><em>United States of America Women won by 10 wickets.</em></li>
		<li class="list-group-item"><strong>County Championship Division One</strong></li>
		<li class="list-group-item">Yorkshire<span>210 & 469</span><br>Kent<span>296 & 211</span><br><em>Yorkshire won by 172 runs.</em></li>
		<li class="list-group-item">Surrey<span>380 & 255/8</span><br>Somerset<span>398</span><br><em>Match drawn.</em></li>
		<li class="list-group-item">Hampshire<span>354 & 302/5d</span><br>Warwickshire<span>233 & 109</span><br><em>Hampshire won by 314 runs.</em></li>
		<li class="list-group-item"><strong>County Championship Division Two</strong></li>
		<li class="list-group-item">Gloucestershire<span>463 & 137/6</span><br>Glamorgan<span>250 & 481/8d</span><br><em>Match drawn.</em></li>
		<li class="list-group-item">Northamptonshire<span>230 & 200</span><br>Lancashire<span>415 & 17/0</span><br><em>Lancashire won by 10 wickets.</em></li>
		<li class="list-group-item">Middlesex<span>349 & 223</span><br>Leicestershire<span>268 & 226/5</span><br><em>Match drawn.</em></li>
		<li class="list-group-item">Durham<span>273 & 197</span><br>Worcestershire<span>390 & 84/5</span><br><em>Worcestershire won by 5 wickets.</em></li>
	</ul>
