---
layout: post
title: "16 May 2019"
description: "Your Daily Cricker Round Up for 16 May 2019!"
date: 2019-05-17 07:10:00 +0000
image: https://i.imgur.com/su50lOz.png
---
<h2><strong>News</strong></h2>
<ul class="list-group">
	<li class="list-group-item list-group-item-action"><strong>Bangladesh Cricket Board has appointed former India batsman Wasim Jaffer as batting coach for game development</strong> for its high performance academy in Dhaka. Jaffer will spend six months every year at the academy.</li>
	<li class="list-group-item list-group-item-action">Ireland batsman <strong>Andrew Balbirnie given one demerit point</strong> for showing dissent at the umpire's decision in the match against Bangladesh in the ongoing tri-series. This is his first demerit point in the new system of ICC Code of Conduct established in 2016.</li>
	<li class="list-group-item list-group-item-action"><strong>Ireland have announced their squad for the two ODIs against Afghanistan</strong>: William Porterfield (C), Gary Wilson (WK), Andrew Balbirnie, Andrew McBrine, Barry McCarthy, Boyd Rankin, George Dockrell, James McCollum, Kevin O'Brien, Lorcan Tucker, Mark Adair, Paul Stirling, Tim Murtagh, Tyrone Kane</li>
	<li class="list-group-item list-group-item-action"><strong>Scotland have announced their squad for the two ODIs against Sri Lanka</strong>: Kyle Coetzer (C), Matthew Cross (WK), Alasdair Evans, Brad Wheal, Calum MacLeod, Craig Wallace, Dylan Budge, Gavin Main, George Munsey, Mark Watt, Michael Jones, Michael Leask, Safyaan Sharif, Scott Cameron, Tom Sol</li>
	<li class="list-group-item list-group-item-action"><strong>750 tickets would be allocated to the four semi-finalists for the Vitality T20 Blast Finals Day</strong>. These allocated tickets are for members and fans of each team. The 2019 Finals Day is on 21 September 2019 and all the tickets have been sold out in advance.</li>
	<li class="list-group-item list-group-item-action"><strong>Cricket World Cup Family Days to be hosted by cricket clubs and local communities</strong> between 7 to 9 June across England and Wales to help connect clubs, local communities, cricket lovers and future players. <a href="https://clubs.cricketworldcup.com/">You can find your local cricket club click here.</a></li>
	<li class="list-group-item list-group-item-action">England fast bowler <strong>Mark Wood says the English team might soon become the first team to score 500</strong> in ODIs.</li>
	<li class="list-group-item list-group-item-action">Former India opening batsman <strong>Gautam Gambhir says India lacks an extra fast bowler</strong> at the 2019 World Cup and that he is not convinced with Hardik Pandya and Vijay Shankar filling up the fourth fast bowler role.</li>
	<li class="list-group-item list-group-item-action">Simon Harmer (6 for 60) and Jamie Porter (3 for 41) wrapped up Nottinghamshire for a score of 158, adding just 68 more to their overnight score. In the small chase of 105, Essex lost opener Nick Browne early but Tom Westley (49) and Sir Alastair Cook (40 not out) took the team to a comfortable win. <strong>Essex beat Nottinghamshire</strong> with a day to spare.</li>
	<li class="list-group-item list-group-item-action">Gary Ballance (159), Jack Leaning (69) and Ben Coad (35) helped Yorkshire add over 300 runs to their overnight score setting up a mammoth target of 384 for Kent. For Kent, Mitchell Claydon took 3 wickets. Chasing 384, Ben Coad (2 for 17) reduced Kent to 34/3 at stumps on day three. <strong>Kent require 350 runs to win</strong>.</li>
	<li class="list-group-item list-group-item-action">Lewis Gregory (129 not out) took Somerset past Surrey's 380 with a 18 runs lead. In Surrey's second innings, Australia batsman Joe Burns (75) lost 4 partners for a total of 94 runs before getting out just before stumps. <strong>Surrey lead by 134 runs</strong> with one day left in the match.</li>
	<li class="list-group-item list-group-item-action">Dom Sibley (109 not out) completed his hundred but soon went out of partners as Warwickshire got bowled out for 233. For Hampshire, Rilee Rossouw (76 off 58), Ollie Soames (62 off 57), Sam Northeast (55 not out), Joe Weatherley (46) added 302 runs to their 121 runs lead before declaring the innings. <strong>Warwickshire</strong> lost 2 quicks wickets and <strong>require a massive 382 runs to win on the final day</strong>.</li>
	<li class="list-group-item list-group-item-action"><strong>A follow on was forced on Glamorgan which their top order accepted with a big smile on their face.</strong> Opener Nick Selman (148 not out) and Marnus Labuschagne (128 not out) have put on an unbeaten 226 run partnership after Charlie Hemphrey's dismissal for 58. The three batsmen have changed the course of the match, taking a 213 runs deficit to a 146 runs lead by stumps on day three.</li>
	<li class="list-group-item list-group-item-action">Dane Vilas (97) and the lower order of Lancashire added 139 runs to their overnight score. With a massive trail of 185 runs, Northamptonshire lost wickets at regular intervals as fast bowler Richard Gleeson took 5 for 50 and completed his ten wicket haul for the match. Rob Keogh top scored for Northamptonshire with a 42. <strong>Lancashire require 16 runs to win</strong> with 10 wickets in hand.</li>
	<li class="list-group-item list-group-item-action">Middlesex started their innings with a 81 runs lead but were soon reduced to 94 for 6. A 85 run partnership between Tom Helm (46) and John Simpson (56 not out) took the total lead to 305. Tom Taylor and Chris Wright shared 3 wickets each. <strong>Leicestershire were 38 for none at stumps on day three, requiring 267 runs to win</strong>.</li>
	<li class="list-group-item list-group-item-action">Worcestershire added 69 runs to their overnight score of 321/6 and then bowled out Durham for 197 runs. Liam Trevaskis top scored with 47 runs. For Worcestershire, Josh Tongue took 5 for 37 and Joe Leach took 3 for 49. <strong>Worcestershire require 81 runs to win</strong> on the final day of the match.</li>
</ul>
<br>
<h2><strong>Editorials</strong></h2>
<div class="list-group">
	<a href="https://www.theguardian.com/artanddesign/2019/may/12/howzat-ls-lowrys-cricket-match-painting-may-sell-for-1m" class="list-group-item list-group-item-action"><strong>LS Lowry's cricket match in Salford painting may sell for £1m. 🔗</strong></a>
	<a href="https://www.youtube.com/watch?v=A2HpCY1lSmc" class="list-group-item list-group-item-action">Watch as Australia's Women's team began their Ashes preparations in Brisbane with the red Dukes ball used in England. 🔗</a>
	<a href="https://www.cricbuzz.com/cricket-news/108015/with-a-maiden-fifer-jayed-leaves-taskin-behind-in-the-world-cup-race" class="list-group-item list-group-item-action">With a maiden fifer, Jayed leaves Taskin behind in the World Cup race. 🔗</a>
	<a href="https://www.cricbuzz.com/cricket-news/108021/the-hundred-99-battles-won-1-war-lost" class="list-group-item list-group-item-action">The Hundred: 99 battles won, 1 war lost. 🔗</a>
	<a href="http://www.espncricinfo.com/story/_/id/26761886/mark-wood-steps-make-world-cup-case-" class="list-group-item list-group-item-action">Mark Wood steps up to make World Cup case. 🔗</a>
</div>
<br>
<h2><strong>Interviews</strong></h2>
<div class="list-group">
	<a href="https://www.cricbuzz.com/cricket-news/108025/this-will-be-the-world-cup-of-all-rounders-clive-lloyd" class="list-group-item list-group-item-action">Read as <strong>Clive Lloyd</strong> talks about his World Cup journey and who his favourites are for the World Cup in England and Whales. 🔗</a>
	<a href="https://www.cricbuzz.com/cricket-news/108012/our-pace-attack-can-make-an-impact-on-any-surface-bhuvneshwar-kumar" class="list-group-item list-group-item-action">Read as <strong>Bhuvneshwar Kumar</strong> talks about his injuries, the impact of IPL on the World Cup preparation and how India's fast bowlers can make an impact on any surface around the world. 🔗</a>
	<a href="https://www.cricbuzz.com/cricket-news/108013/insecurity-of-an-axing-drives-me-to-perform-jahanara-alam" class="list-group-item list-group-item-action">Read Bangladesh fast bowler <strong>Jahanara Alam</strong>'s interview about her experience playing the Women's T20 challenge in India and how she nearly quit the game in 2009. 🔗</a>
	<a href="https://www.cricbuzz.com/cricket-news/108017/gym-snubbed-gayle-turns-focus-to-mental-aspect-of-cricket" class="list-group-item list-group-item-action">Read as <strong>Chris Gayle</strong> talks about going into his fifth World Cup and his commitment to his fans. 🔗</a>
	<a href="https://www.cricbuzz.com/cricket-news/108024/i-hardly-show-emotions-but-that-doesnt-mean-i-lack-intensity-dhawan" class="list-group-item list-group-item-action">Read as <strong>Shikhar Dhawan</strong> talks about his persona, the greatest influence in his life and handling pressure. 🔗</a>
</div>
<br>
</div>
<div class="col-lg-4 col-12">
	<h2><strong>Daily Emails</strong></h2>
	<div class="card">
		<div class="card-body">
			<form action="https://tinyletter.com/cricketfyi/" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/cricketfyi/', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
				<div class="form-group">
					<label for="tlemail" class="card-text">Get your daily cricket round up in your email. Just fill in your email address below and click on subscribe!</label>
					<input class="form-control"  type="text" name="email" id="tlemail" placeholder="Email address" />
					<input type="hidden" value="1" name="embed"/>
					<button class="btn btn-warning mt-2" type="submit"><strong>Subscribe</strong></button>
				</div>
			</form>
		</div>
	</div>
	<br>
	<h2><strong>Scorecards</strong></h2>
	<ul class="list-group">
		<li class="list-group-item"><strong>County Championship Division One</strong></li>
		<li class="list-group-item">Nottinghamshire<span>187 & 158</span><br>Essex<span>241 & 105/2</span><br><em>Essex won by 8 wickets.</em></li>
		<li class="list-group-item">Yorkshire<span>210 & 469</span><br>Kent<span>296 & 34/3</span><br><em>Kent require 350 runs to win with 7 wickets in hand.</em></li>
		<li class="list-group-item">Surrey<span>380 & 152/5</span><br>Somerset<span>398</span><br><em>Surrey lead by 134 runs with 5 wickets in hand.</em></li>
		<li class="list-group-item">Hampshire<span>354 & 302/5d</span><br>Warwickshire<span>233 & 42/2</span><br><em>Warwickshire require 382 runs to win with 8 wickets in hand.</em></li>
		<li class="list-group-item"><strong>County Championship Division Two</strong></li>
		<li class="list-group-item">Gloucestershire<span>463</span><br>Glamorgan<span>250 & 359/1</span><br><em>Glamorgan lead by 146 runs with 9 wickets in hand.</em></li>
		<li class="list-group-item">Northamptonshire<span>230 & 200</span><br>Lancashire<span>415</span><br><em>Lancashire require 16 runs to win with 10 wickets in hand.</em></li>
		<li class="list-group-item">Middlesex<span>349 & 223</span><br>Leicestershire<span>268 & 38/0</span><br><em>Leicestershire require 267 runs to win with 10 wickets in hand.</em></li>
		<li class="list-group-item">Durham<span>273 & 197</span><br>Worcestershire<span>390</span><br><em>Worcestershire require 81 runs to win with 10 wickets in hand.</em></li>
	</ul>
