---
layout: post
title: "18 May 2019"
description: "Your Daily Cricker Round Up for 18 May 2019!"
date: 2019-05-19 03:40:00 +0000
image: https://i.imgur.com/su50lOz.png
---
<h2><strong>News</strong></h2>
<ul class="list-group">
	<li class="list-group-item list-group-item-action">Marizanne Kapp (56 not out) and Lizelle Lee (56) help <strong>South Africa Women chase down 129 against Paskitan Women.</strong> Earlier in the match Pakistan captian Bismah Maroof scored an unbeaten 63 while South Africa captain Sune Luus took 2 wickets for 29.</li>
	<li class="list-group-item list-group-item-action">Australia fast bowler <strong>Billy Stanlake has been signed up by Derbyshire</strong> for the upcoming Vitality T20 Blast.</li>
	<li class="list-group-item list-group-item-action"><strong>Rain washes out the first of the two ODIs between Scotland and Sri Lanka in Edinburgh.</strong></li>
	<li class="list-group-item list-group-item-action">USA based <strong>CMG Companies are the new owner of the Caribbean Premier League team Barbados Tridents</strong>. Jason Holder has been named the marquee player.</li>
	<li class="list-group-item list-group-item-action"><strong>Pakistan Under-19 team to tour Sri Lanka for 5 one day matches from May 26.</strong></li>	
</ul>
<br>
<h2><strong>Editorials</strong></h2>
<div class="list-group">
	<a href="https://www.cricbuzz.com/cricket-news/108052/world-cup-1979-when-the-team-to-beat-remained-unbeaten" class="list-group-item list-group-item-action"><strong>World Cup 1979: When the team to beat remained unbeaten</strong>  🔗</a>
	<a href="https://www.theguardian.com/sport/2019/may/18/david-willey-tom-curran-england-cricket-world-cup" class="list-group-item list-group-item-action">David Willey and Tom Curran fight for England’s last World Cup spot 🔗</a>
	<a href="https://www.cricbuzz.com/cricket-news/108042/england-banish-ghosts-from-past-to-rubberstamp-wc-favourites-tag" class="list-group-item list-group-item-action"> England banish ghosts from past to rubberstamp WC favourites tag  🔗</a>
	<a href="http://www.espncricinfo.com/story/_/id/26771645/mosaddek-hossain-adds-missing-piece-bangladesh-puzzle-ahead-world-cup" class="list-group-item list-group-item-action">Mosaddek adds missing piece in Bangladesh's puzzle ahead of World Cup 🔗</a>
	
</div>
<br>
<h2><strong>Interviews</strong></h2>
<div class="list-group">
	<a href="https://www.bbc.co.uk/programmes/p0799fmc" class="list-group-item list-group-item-action"><strong>Listen as Kevin Howells and Andy Zaltzman take a look back on the 1983 Cricket World Cup. They are joined by Paul Allott, Vic Marks and Graeme Fowler.</strong> 🔗</a>
	<a href="https://www.cricbuzz.com/cricket-news/108040/hopefully-this-is-just-the-start-mortaza-on-tri-series-victory" class="list-group-item list-group-item-action">Read as Bangladesh captain <strong>Mashrafe Mortaza</strong> talks about the tri-series victory in Ireland over the hosts and the West Indies. 🔗</a>
	<a href="https://www.cricbuzz.com/cricket-news/108043/india-are-going-to-be-a-force-in-womens-cricket-matthew-mott" class="list-group-item list-group-item-action">Read Australia Women's head coach <strong>Matthew Mott</strong> praise Indian Women's team and reckon them as a force in world cricket. 🔗</a>
	<a href="http://www.espncricinfo.com/story/_/id/26774423/bowling-going-play-very-big-role-world-cup-rahul-dravid" class="list-group-item list-group-item-action">Read why <strong>Rahul Dravid</strong> belives bowling is going to play a very big role in the upcoming World Cup.  🔗</a>
	<a href="http://www.espncricinfo.com/story/_/id/26773293/not-obsessed-number-boundaries-hit-india-assistant-coach-sanjay-bangar" class="list-group-item list-group-item-action">Read as India's assistant coach <strong>Sanjay Bangar</strong> talks about the transition between IPL and the World Cup and their preparation for the big event. 🔗</a>
	<a href="https://www.cricbuzz.com/cricket-news/108053/cant-afford-to-have-fear-of-failure-at-world-cup-du-plessis" class="list-group-item list-group-item-action">Read as <strong>Faf du Plessis</strong> talks how he and his team are not letting the fear of failure at the World Cup come hinder them from giving their best. 🔗</a>
	<a href="http://www.espncricinfo.com/story/_/id/26774727/bates-calls-more-women-tests-ashes-format-other-series" class="list-group-item list-group-item-action">Read as New Zealand allrounder <strong>Suzie Bates</strong> calls for more women's Tests with Ashes-like format in other series. 🔗</a>
	<a href="http://www.espncricinfo.com/story/_/id/26773274/william-porterfield-hopes-bowlers-step-afghanistan" class="list-group-item list-group-item-action">Read as Ireland captain <strong>William Porterfield</strong> calls for his bowlers to step up in the upcoming series aginast Afghanistan. 🔗</a>
	<a href="http://www.espncricinfo.com/story/_/id/26774781/ab-de-villiers-reveals-helped-steer-faf-du-plessis-away-kolpak-route" class="list-group-item list-group-item-action">Read as <strong>AB de Villiers</strong> reveals how he helped steer Faf du Plessis away from Kolpak route. 🔗</a>
	<a href="http://www.espncricinfo.com/story/_/id/26774624/smith,-warner-ready-face-fire-australia-comebacks-langer" class="list-group-item list-group-item-action">Read as Australia head coach <strong>Justin Langer</strong> talks about their preparation for the World Cup and the return of Smith and Warner. 🔗</a>
</div>
<br>
</div>
<div class="col-lg-4 col-12">
	<h2><strong>Daily Emails</strong></h2>
	<div class="card">
		<div class="card-body">
			<form action="https://tinyletter.com/cricketfyi/" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/cricketfyi/', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
				<div class="form-group">
					<label for="tlemail" class="card-text">Get your daily cricket round up in your email. Just fill in your email address below and click on subscribe!</label>
					<input class="form-control"  type="text" name="email" id="tlemail" placeholder="Email address" />
					<input type="hidden" value="1" name="embed"/>
					<button class="btn btn-warning mt-2" type="submit"><strong>Subscribe</strong></button>
				</div>
			</form>
		</div>
	</div>
	<br>
	<h2><strong>Scorecards</strong></h2>
	<ul class="list-group">
		<li class="list-group-item"><strong>Sri Lanka tour of England and Scotland</strong></li>
		<li class="list-group-item">Scotland<br>Sri Lanka<br><em>Match abandoned without the toss.</em></li>
		<li class="list-group-item"><strong>Pakistan Women tour of South Africa</strong></li>
		<li class="list-group-item">Pakistan Women<span>128/5</span><br>South Africa Women<span>129/2</span><br><em>South Africa Women won by 8 wickets.</em></li>
		<li class="list-group-item"><strong>ICC Women's T20 World Cup Americas Region Qualifier</strong></li>
		<li class="list-group-item">USA Women<span>113/6</span><br>Canada Women<span>76</span><br><em>United States of America Women won by 37 runs.</em></li>
	</ul>
