---
layout: post
title: "22 May 2019"
description: "Your Daily Cricker Round Up for 22 May 2019!"
date: 2019-05-23 2:20:00 +0000
image: https://i.imgur.com/su50lOz.png
---
<h2><strong>Scorecards</strong></h2>
	<ul class="list-group">
		<li class="list-group-item"><strong>Pakistan Women tour of South Africa</strong></li>
		<li class="list-group-item">Pakistan Women<span>172/5</span><br>SA Women<span>174/6</span><br><em>SA Women won by 4 wickets.</em></li>
		<li class="list-group-item"><strong>ICC Men's T20 World Cup Africa Region Final</strong></li>
		<li class="list-group-item">Nigeria<span>135/8</span><br>Ghana<span>107/8</span><br><em>Nigeria won by 28 runs.</em></li>
		<li class="list-group-item">Botswana<span>46</span><br>Namibia<span>50/0</span><br><em>Namibia won by 10 wickets.</em></li>
		<li class="list-group-item">Kenya<span>145/6</span><br>Uganda<span>144/9</span><br><em>Kenya won by 1 run.</em></li>
		<li class="list-group-item"><strong>County Championship Division One</strong></li>
		<li class="list-group-item">Somerset<span>209 & 164</span><br>Warwickshire<span>135 & 189</span><br><em>Somerset won by 49 runs.</em></li>
		<li class="list-group-item">Hampshire<span>310 & 367/5d</span><br>Nottinghamshire<span>239 & 42/2</span><br><em>Nottinghamshire require 397 runs to win.</em></li>
		<li class="list-group-item">Surrey<span>439 & 280</span><br>Kent<span>294 & 46/1</span><br><em>Kent require 380 runs to win.</em></li>
		<li class="list-group-item"><strong>County Championship Division Two</strong></li>
		<li class="list-group-item">Derbyshire<span>378 & 213</span><br>Glamorgan<span>346 & 248/8</span><br><em>Glamorgan won by 2 wickets.</em></li>
		<li class="list-group-item">Durham<span>158 & 132</span><br>Gloucestershire<span>174 & 119/4</span><br><em>Gloucestershire won by 6 wickets.</em></li>
		<li class="list-group-item">Worcestershire<span>172 & 154</span><br>Lancashire<span>201 & 127/4</span><br><em>Lancashire won by 6 wickets.</em></li>
		<li class="list-group-item">Sussex<span>422 & 292/4</span><br>Northamptonshire<span>368</span><br><em>Stumps day three.</em></li>
	</ul>
<br>
</div>
<div class="col-lg-4 col-12">
	<h2><strong>Daily Emails</strong></h2>
	<div class="card">
		<div class="card-body">
			<form action="https://tinyletter.com/cricketfyi/" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/cricketfyi/', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
				<div class="form-group">
					<label for="tlemail" class="card-text">Get your daily cricket round up in your email. Just fill in your email address below and click on subscribe!</label>
					<input class="form-control"  type="text" name="email" id="tlemail" placeholder="Email address" />
					<input type="hidden" value="1" name="embed"/>
					<button class="btn btn-warning mt-2" type="submit"><strong>Subscribe</strong></button>
				</div>
			</form>
		</div>
	</div>
