---
layout: post
title: "15 May 2019"
description: "Your Daily Cricker Round Up for 15 May 2019!"
date: 2019-05-16 02:20:00 +0000
image: https://i.imgur.com/su50lOz.png
---
<h2><strong>News</strong></h2>
<ul class="list-group">
	<li class="list-group-item list-group-item-action">England captain <strong>Eoin Morgan suspended for one ODI</strong> and fined 40% of his match fee for a slow over-rate during third ODI against Pakistan at Trent Bridge.</li>
	<li class="list-group-item list-group-item-action">England and Wales Cricket Board to host <strong>men's draft for The Hundred on 20 October 2019</strong>.</li>
	<li class="list-group-item list-group-item-action">Ireland Women wicketkeeper <strong>Mary Waldron becomes the eighth woman to be appointed to the International Cricket Council’s Development Panel of Umpires</strong>. She is also one of the six women cricketers to get a part-time professional contract from Cricket Ireland and would be keeping wickets against West Indies Women next week.</li>
	<li class="list-group-item list-group-item-action">Former New Zealand batsman <strong>Peter Fulton named as New Zealand's new batting coach</strong> and would take over the post after the 2019 World Cup at the end of July.</li>
	<li class="list-group-item list-group-item-action">South Africa's head coach Ottis Gibson confirms that <strong>Kagiso Rabada and Dale Steyn are expected to recover</strong> before South Africa's 2019 World Cup opener against England.</li>
	<li class="list-group-item list-group-item-action">Australia batsman <strong>Chris Lynn not given a contract by his state side Queensland</strong> for the 2019-20 season despite being the highest run-getter for the side during the last JLT Cup.</li>
	<li class="list-group-item list-group-item-action">Tasmania captain <strong>Matthew Wade to give up wicketkeeping in Sheffield Shield cricket</strong> next season, to play as a specialist batsman to make a return to the Australian Test side.</li>
	<li class="list-group-item list-group-item-action">PS Narsimha, Supreme Court-appointed amicus curiae, <strong>calls for quick handover of Indian cricket back from the courts and court-appointed committees to the organizers</strong>.</li>
	<li class="list-group-item list-group-item-action">Zimbabwe cricketer <strong>Brendan Taylor's wife was mugged outside their home in Harare</strong>. Since then Taylor has tweeted about the incident and urging residents to remain vigilant.</li>
	<li class="list-group-item list-group-item-action">Abu Jayed's five wicket haul and collective contributions from Bangladesh's top and middle order pips over the 174 run third wicket partnership between Paul Stirling (130) and captain William Porterfield (94), as <strong>Bangladesh beat Ireland by 6 wickets</strong>.</li>
	<li class="list-group-item list-group-item-action">Ireland's <strong>Boyd Rankin took his 200th international wicket</strong> in the match against Bangladesh.</li>
	<li class="list-group-item list-group-item-action"><strong>Shakib Al Hasan retired hurt after sustaining a side strain</strong> while batting on 50 against Ireland. Bangladesh Cricket Board soon confirmed that there was no serious issue with Sakib's injury and retiring hurt was only a precautionary measure.</li>
	<li class="list-group-item list-group-item-action">Sana Mir (3 for 14), Nida Dar (53) and captain Bismah Mahroof (53 not out) take <strong>Pakistan Women one up in the ongoing 5 match series against South Africa Women</strong>. For SA Women Chloe Tryon top scored with 43 off 31 balls.</li>
	<li class="list-group-item list-group-item-action">Luke Fletcher took 5 for 50 to get Nottinghamshire back in the game before Simon Harmer's 4 for 32 reduced the Notts to 90 for 6 at stumps on day two.</li>
	<li class="list-group-item list-group-item-action">Ollie Robinson's 103 helped Kent take a first innings lead before Gary Ballance (57 not out) and Adam Lyth (44) took back a 80 runs lead by stumps on day two.</li>
	<li class="list-group-item list-group-item-action">Surrey just added 50 runs to their overnight score before getting bowled out at 380. Somerset's reply featured James Hildreth (90) and Azhar Ali (60) followed by a loss of 3 wickets for just 37. Steven Davies (54) remained unbeaten at stumps on day two.</li>
	<li class="list-group-item list-group-item-action">Dom Sibley (95 not out) leads Warwickshire's reply after Kyle Abbott took 3 wickets in 13 balls to reduce Warwickshire from a comfortable 135/3 to 145/6. Hampshire's 354 featuring Tom Alsop (150) and Aneurin Donald (75). Stumps day two.</li>
	<li class="list-group-item list-group-item-action">Gloucestershire added over a hundred 100 runs to their overnight score witht help of Ryan Higgins (103) to end up at 463. In reply Glamorgan lost wickets at regular intervals and their captain Chris Cooke was carried off with an ankle injury. Glamorgan trail by 222 runs at stumps on day two.</li>
	<li class="list-group-item list-group-item-action">Keaton Jennings (97) and Rob Jones (67) added 152 runs for the third wicket as Lancashire went on to take a 46 runs lead at stumps on day two. Lancashire's Luke Wood followed his batting success of 66 runs taking 3 wickets for 44.</li>
	<li class="list-group-item list-group-item-action">Middlesex's Ollie Rayner (4 for 58) broke the 110 run partnership between Colin Ackermann (63) and Harry Dearden (61) to reduce Leicestershire to 257/9 at stumps. Leicestershire trail by 92 runs.</li>
	<li class="list-group-item list-group-item-action">Chris Rushworth (1 for 69) and Matt Salisbury (2 for 49) reduced Worcestershire to 17/3 before Riki Wessels (118), Ross Whiteley (62 not out) 21-year-old debutant Josh Dell (61) took the side past Durham's 273. Whiteley and Ben Cox (28 not out) would continue to build upon their unbeaten 85 runs partnership on the morning od day three.</li>
</ul>
<br>
<h2><strong>Editorials</strong></h2>
<div class="list-group">
	<a href="https://www.cricbuzz.com/cricket-news/107995/denly-could-lose-world-cup-spot-as-opportunities-run-dry" class="list-group-item list-group-item-action">Denly could lose World Cup spot as opportunities run dry. 🔗</a>
	<a href="https://www.theguardian.com/sport/2019/may/15/ecb-the-hundred-photo-gaffe-rap-concert-cricket" class="list-group-item list-group-item-action">ECB back on defensive over the Hundred after rap concert photo gaffe. 🔗</a>
	<a href="https://www.theguardian.com/sport/blog/2019/may/15/world-cup-year-county-cricket-outgrounds-the-spin" class="list-group-item list-group-item-action">World Cup year means county cricket gives outgrounds chance to shine 🔗</a>
	<a href="https://www.bbc.co.uk/programmes/p0799f9b" class="list-group-item list-group-item-action"><strong>Listen to Kevin Howells and Andy Zaltzman as they continue their look back on the four Cricket World Cups to have been held in the UK. They are joined by Graham Gooch, David Gower and Mike Hendrick.</strong> 🔗</a>
	</div>
<br>
<h2><strong>Interviews</strong></h2>
<div class="list-group">
	<a href="https://www.cricbuzz.com/cricket-news/107996/relationship-with-ravi-shastri-on-auto-mode-now-because-of-the-work-put-in-kohli" class="list-group-item list-group-item-action">Read <strong>Virat Kohli</strong> and <strong>Ravi Shastri</strong>'s interview with K Shriniwas Rao about the upcoming World Cup. 🔗</a>
	<a href="https://www.bbc.co.uk/sport/av/cricket/48283662" class="list-group-item list-group-item-action">Listen to <strong>James Anderson</strong> discuss his injury, other bowlers who have been injured, and his thoughts on protection wearables for the bowlers! 🔗</a>
	<a href="https://www.youtube.com/watch?v=Hp1tTfDXm9k" class="list-group-item list-group-item-action">Listen to <strong>Beth Mooney</strong> discuss her break from cricket and the upcoming tour of England where they will defend the Women's Ashes. 🔗</a>
	<a href="https://www.cricketworldcup.com/news/en/1220742" class="list-group-item list-group-item-action">Read how much <strong>Martin Guptill</strong> is thrilled about the World Cup in England. 🔗</a>
	<a href="https://www.cricketworldcup.com/news/en/1220776" class="list-group-item list-group-item-action">Read as <strong>Imrul Kayes</strong> talks about his exclusion from the World Cup squad, his fresh perspective and preparedness for the World Cup in case the need arises. 🔗</a>
	<a href="https://www.cricketworldcup.com/news/en/1220740" class="list-group-item list-group-item-action">Read how <strong>Josh Hazlewood</strong> is preparing for the Ashes after being excluded from the World Cup squad. 🔗</a>
	<a href="https://www.cricketworldcup.com/news/en/1220738" class="list-group-item list-group-item-action">Read as <strong>Eoin Morgan</strong> taks about the postive atmosphere in the English dressing room with their wins over Pakistan in the on-going series. 🔗</a>
	<a href="https://www.cricbuzz.com/cricket-news/108000/t20-series-against-pakistan-a-good-opportunity-to-experiment-sune-luus" class="list-group-item list-group-item-action">Read as <strong>Sune Luus</strong> talks about the recently concluded ODI series against Pakistan Women and her sides readiness for the 2020 T20 World Cup. 🔗</a>
	<a href="http://www.espncricinfo.com/story/_/id/26752567/the-passion-same-dhawan-confident-another-successful-icc-tournament" class="list-group-item list-group-item-action">Read where <strong>Shikhar Dhawan</strong>'s focus is while getting ready for hopefully another succesful ICC event. 🔗</a>
	<a href="https://www.cricbuzz.com/cricket-news/108007/woakes-suggests-aggressive-approach-against-english-batsmen" class="list-group-item list-group-item-action">Read as <strong>Chris Woakes</strong> as he suggests bowlers to be more agressive than defensive in the upcoming World Cup. 🔗</a>
	<a href="http://www.espncricinfo.com/story/_/id/26752809/was-frustrated-learning-had-hepatitis-shadab-khan" class="list-group-item list-group-item-action">Read as <strong>Shadab Khan</strong> talks about the frustration he went through after being diagnosed with hepatitis just days after his selection in the World Cup squad. 🔗</a>
</div>
<br>
</div>
<div class="col-lg-4 col-12">
	<h2><strong>Daily Emails</strong></h2>
	<div class="card">
		<div class="card-body">
			<form action="https://tinyletter.com/cricketfyi/" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/cricketfyi/', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
				<div class="form-group">
					<label for="tlemail" class="card-text">Get your daily cricket round up in your email. Just fill in your email address below and click on subscribe!</label>
					<input class="form-control"  type="text" name="email" id="tlemail" placeholder="Email address" />
					<input type="hidden" value="1" name="embed"/>
					<button class="btn btn-warning mt-2" type="submit"><strong>Subscribe</strong></button>
				</div>
			</form>
		</div>
	</div>
	<br>
	<h2><strong>Scorecards</strong></h2>
	<ul class="list-group">
		<li class="list-group-item"><strong>Ireland Tri-Nation Series</strong></li>
		<li class="list-group-item">Ireland<span>292/8</span><br>Bangladesh<span>294/4</span><br><em>Bangladesh won by 6 wickets.</em></li>
		<li class="list-group-item"><strong>Pakistan Women tour of South Africa</strong></li>
		<li class="list-group-item">South Africa Women<span>119/7</span><br>Pakistan Women<span>120/3</span><br><em>Pakistan Women won by 7 wickets.</em></li>
		<li class="list-group-item"><strong>County Championship Division One</strong></li>
		<li class="list-group-item">Nottinghamshire<span>187 & 90/6</span><br>Essex<span>241</span><br><em>Stumps on Day 2</em></li>
		<li class="list-group-item">Yorkshire<span>210 & 166/3</span><br>Kent<span>296</span><br><em>Stumps on Day 2</em></li>
		<li class="list-group-item">Surrey<span>380</span><br>Somerset<span>243/5</span><br><em>Stumps on Day 2</em></li>
		<li class="list-group-item">Hampshire<span>354</span><br>Warwickshire<span>184/7</span><br><em>Stumps on Day 2</em></li>
		<li class="list-group-item"><strong>County Championship Division Two</strong></li>
		<li class="list-group-item">Gloucestershire<span>463</span><br>Glamorgan<span>241/8</span><br><em>Stumps on Day 2</em></li>
		<li class="list-group-item">Northamptonshire<span>230</span><br>Lancashire<span>276/6</span><br><em>Stumps on Day 2</em></li>
		<li class="list-group-item">Middlesex<span>349</span><br>Leicestershire<span>257/5</span><br><em>Stumps on Day 2</em></li>
		<li class="list-group-item">Durham<span>273</span><br>Worcestershire<span>321/6</span><br><em>Stumps on Day 2</em></li>
	</ul>
