---
layout: post
title: "21 May 2019"
description: "Your Daily Cricker Round Up for 21 May 2019!"
date: 2019-05-22 8:30:00 +0000
image: https://i.imgur.com/su50lOz.png
---
<h2><strong>Scorecards</strong></h2>
	<ul class="list-group">
		<li class="list-group-item"><strong>Afghanistan tour of Ireland</strong></li>
		<li class="list-group-item">Afghanistan<span>305/7</span><br>Ireland<span>179</span><br><em>Afghanistan won by 126 runs.</em></li>
		<li class="list-group-item"><strong>Sri Lanka tour of England and Scotland</strong></li>
		<li class="list-group-item">Sri Lanka<span>322/8</span><br>Scotland<span>199</span><br><em>Sri Lanka won by 35 runs (D/L).</em></li>
		<li class="list-group-item"><strong>ICC Men's T20 World Cup Africa Region Final</strong></li>
		<li class="list-group-item">Namibia<span>167/7</span><br>Uganda<span>125/8</span><br><em>Namibia won by 42 runs.</em></li>
		<li class="list-group-item">Nigeria<span>119</span><br>Botswana<span>108/7</span><br><em>Nigeria won by 11 runs.</em></li>
		<li class="list-group-item">Kenya<span>141/5</span><br>Ghana<span>88</span><br><em>Kenya won by 53 runs.</em></li>
		<li class="list-group-item"><strong>County Championship Division One</strong></li>
		<li class="list-group-item">Hampshire<span>10 & 3/1</span><br>Nottinghamshire<span>239</span><br><em>Stumps day two.</em></li>
		<li class="list-group-item">Surrey<span>439 & 11/0</span><br>Kent<span>294</span><br><em>Stumps day two.</em></li>
		<li class="list-group-item">Somerset<span>209 & 164</span><br>Warwickshire<span>135 & 103/6</span><br><em>Stumps day two.</em></li>
		<li class="list-group-item"><strong>County Championship Division Two</strong></li>
		<li class="list-group-item">Derbyshire<span>378 & 171/9</span><br>Glamorgan<span>346</span><br><em>Stumps day three.</em></li>
		<li class="list-group-item">Durham<span>58 & 132</span><br>Gloucestershire<span>174 & 64/1</span><br><em>Stumps day two.</em></li>
		<li class="list-group-item">Worcestershire<span>172 & 149/9</span><br>Lancashire<span>201</span><br><em>Stumps day two.</em></li>
		<li class="list-group-item">Sussex<span>422</span><br>Northamptonshire<span>242/6</span><br><em>Stumps day two.</em></li>
	</ul>
<br>
</div>
<div class="col-lg-4 col-12">
	<h2><strong>Daily Emails</strong></h2>
	<div class="card">
		<div class="card-body">
			<form action="https://tinyletter.com/cricketfyi/" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/cricketfyi/', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
				<div class="form-group">
					<label for="tlemail" class="card-text">Get your daily cricket round up in your email. Just fill in your email address below and click on subscribe!</label>
					<input class="form-control"  type="text" name="email" id="tlemail" placeholder="Email address" />
					<input type="hidden" value="1" name="embed"/>
					<button class="btn btn-warning mt-2" type="submit"><strong>Subscribe</strong></button>
				</div>
			</form>
		</div>
	</div>
