---
layout: post
title: "23 May 2019"
description: "Your Daily Cricker Round Up for 23 May 2019!"
date: 2019-05-24 9:30:00 +0000
image: https://i.imgur.com/su50lOz.png
---
<h2><strong>Scorecards</strong></h2>
<ul class="list-group">
	<li class="list-group-item"><strong>ICC Men's T20 World Cup Africa Region Final</strong></li>
	<li class="list-group-item">Ghana<span>113/6</span><br>Uganda<span>117/3</span><br><em>Uganda won by 7 wickets.</em></li>
	<li class="list-group-item">Botswana<br>Kenya<br><em>Match abandoned.</em></li>
	<li class="list-group-item">Namibia<br>Nigeria<br><em>Match abandoned.</em></li>
	<li class="list-group-item"><strong>Pakistan Women tour of South Africa</strong></li>
	<li class="list-group-item">Pakistan Women<span>125/5</span><br>SA Women<span>127/1</span><br><em>SA Women won by 9 wickets.</em></li>
	<li class="list-group-item"><strong>County Championship Division One</strong></li>
	<li class="list-group-item">Hampshire<span>310 & 367/5d</span><br>Nottinghamshire<span>239 & 194</span><br><em>Hampshire won by 244 runs.</em></li>
	<li class="list-group-item">Surrey<span>439 & 280</span><br>Kent<span>294 & 352/8</span><br><em>Match drawn.</em></li>
	<li class="list-group-item"><strong>County Championship Division Two</strong></li>
	<li class="list-group-item">Sussex<span>422 & 339/4d</span><br>Northamptonshire<span>368 & 288/6</span><br><em>Match drawn.</em></li>
</ul>
<br>
</div>
<div class="col-lg-4 col-12">
	<h2><strong>Daily Emails</strong></h2>
	<div class="card">
		<div class="card-body">
			<form action="https://tinyletter.com/cricketfyi/" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/cricketfyi/', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
				<div class="form-group">
					<label for="tlemail" class="card-text">Get your daily cricket round up in your email. Just fill in your email address below and click on subscribe!</label>
					<input class="form-control"  type="text" name="email" id="tlemail" placeholder="Email address" />
					<input type="hidden" value="1" name="embed"/>
					<button class="btn btn-warning mt-2" type="submit"><strong>Subscribe</strong></button>
				</div>
			</form>
		</div>
	</div>
	<br>
