---
layout: post
title: "19 May 2019"
description: "Your Daily Cricker Round Up for 19 May 2019!"
date: 2019-05-20 06:50:00 +0000
image: https://i.imgur.com/su50lOz.png
---
<h2><strong>News</strong></h2>
<ul class="list-group">
	<li class="list-group-item list-group-item-action"><strong>West Indies name 10 players in their World Cup squad reserves:</strong> Kieron Pollard, Dwayne Bravo, Sunil Ambris, Raymon Reifer, John Campbell, Jonathan Carter, Roston Chase, Khary Pierre, Shane Dowrich, Keemo Paul.</li>
	<li class="list-group-item list-group-item-action"><strong>Phil Simmons to step down as Afghanistan head coach after the World Cup.</strong> His decision comes after he was not consulted by both the Afghanistan Cricket Board and the selectors before announcing major leadership reshuffle in the team just before the World Cup.</li>
	<li class="list-group-item list-group-item-action">After winning the toss and batting first England posted 351/9 with Joe Root and captain Eoin Morgan scoring 84 and 76 respectively. Tom Curran's cameo of unbeatwn 29 took England past the 350 mark. Shaheen Afridi took 4 for 82. At the start of the chase Pakistan were brought down to 6/3 by Chris Woakes who ended the match with the figures of 5 for 54. Babar Azam (80) and Sarfaraz Ahmed (97) shared a 146 run partnership but after losing wickets at regular intervals Pakistan folded for 297. <strong>England won by 54 runs and clean sweeped the series 4-0.</strong></li>
	<li class="list-group-item list-group-item-action">Opener Paul Stirling (71) and captain William Porterfield (53) shared a 99 run third wicket partnership after Ireland were reduced to 35/2. Kevin O'Brien scored 32. Aftab Alam and Dawlat Zadran took 3 wickets each. Tim Murtagh (2 for 12) reduced Afghanistan to 22/3. Mark Adair (4 for 19) and Boyd Rankin (3 for 40) took care of the rest of the Afghanistan's batting line up. Asghar Afghan (29) and Mohammad Nabi (27) top scored for Afghanistan. <strong>Ireland won by 72 runs.</strong></li>
	<li class="list-group-item list-group-item-action">A 104 run partnership between opener Luis Reece (111) and Alex Hughes (63 not out) propels Derbyshire to 253/5 at <strong>stumps on day one</strong>. Glamorgan's Michael Hogan took 2 for 42.</li>
</ul>
<br>
<h2><strong>Editorials</strong></h2>
<div class="list-group">
	<a href="https://www.theguardian.com/sport/2019/may/19/afghanistan-cricket-world-cup-guide-game-plan-key-player-and-prediction" class="list-group-item list-group-item-action"><strong>Afghanistan World Cup guide: game plan, key player and prediction 🔗</strong></a>
	<a href="https://www.theguardian.com/sport/2019/may/19/jofra-acher-england-bowling-cricket" class="list-group-item list-group-item-action">‘Jofra’s a genius’ – the lowdown on what makes Archer different 🔗</a>
	<a href="https://www.theguardian.com/sport/2019/may/19/liam-dawson-world-cup-cricket" class="list-group-item list-group-item-action">Liam Dawson in contention for World Cup spot after impressive county form 🔗</a>
	<a href="https://www.youtube.com/watch?v=ZqXWWkHacUY" class="list-group-item list-group-item-action">Watch how baseball is helping next generation of hitters in Australia. 🔗</a>
</div>
<br>
<h2><strong>Interviews</strong></h2>
<div class="list-group">
	<a href="https://www.bbc.com/sport/cricket/48327718" class="list-group-item list-group-item-action">Read as former England captain <strong>Michael Vaughan</strong> talks about the tough decisions that lay ahead of national selector Ed Smith and his team to select the World Cup. 🔗</a>
	<a href="https://www.cricbuzz.com/cricket-news/108055/i-have-returned-stronger-faster-and-fitter-shami" class="list-group-item list-group-item-action">Read as <strong>Mohammed Shami</strong> talks about his fitness and the India's fast bowlers at the World Cup. 🔗</a>
	<a href="https://www.bbc.co.uk/sounds/play/p079pl42" class="list-group-item list-group-item-action">Listen to <strong>Charles Dagnall</strong> and <strong>Mark Ramprakash</strong> on the Test Match Special as they reflect back on the 4-0 series win over Pakistan. 🔗</a>
	<a href="http://www.espncricinfo.com/story/_/id/26782631/pakistan-made-strides-fielding-worry-mickey-arthur" class="list-group-item list-group-item-action">Read as Pakistan head coach <strong>Mickey Arthur</strong> talks about his team's performance against England and fielding fails. 🔗</a>
	<a href="http://www.espncricinfo.com/story/_/id/26782514/every-squad-member-expect-play-world-cup-role-eoin-morgan" class="list-group-item list-group-item-action">Read as <strong>Eoin Morgan</strong> and Chris Woakes talk about the expectations at the World Cup and the nervousness before the final squad is announced. 🔗</a>
	<a href="https://www.cricbuzz.com/cricket-news/108056/talking-cricket-with-suzie-and-sophie" class="list-group-item list-group-item-action">Read Purnima Malhotra's interview with the White Ferns' Smash Sisters - <strong>Suzie Bates</strong> and <strong>Sophie Devine</strong>. 🔗</a>
	<a href="https://www.youtube.com/watch?v=_HBqw5KXQHw" class="list-group-item list-group-item-action">Listen to <strong>Justin Langer</strong> as he talks about their first training session in England. 🔗</a>
	<a href="https://www.youtube.com/watch?v=1BSC1zoqeG8" class="list-group-item list-group-item-action">Listen to <strong>Pat Cummins</strong> as he talks about the Australian team's special visit to Anzac Cove in Gallipoli. 🔗</a>
</div>
<br>
</div>
<div class="col-lg-4 col-12">
	<h2><strong>Daily Emails</strong></h2>
	<div class="card">
		<div class="card-body">
			<form action="https://tinyletter.com/cricketfyi/" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/cricketfyi/', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
				<div class="form-group">
					<label for="tlemail" class="card-text">Get your daily cricket round up in your email. Just fill in your email address below and click on subscribe!</label>
					<input class="form-control"  type="text" name="email" id="tlemail" placeholder="Email address" />
					<input type="hidden" value="1" name="embed"/>
					<button class="btn btn-warning mt-2" type="submit"><strong>Subscribe</strong></button>
				</div>
			</form>
		</div>
	</div>
	<br>
	<h2><strong>Scorecards</strong></h2>
	<ul class="list-group">
		<li class="list-group-item"><strong>Pakistan tour of England</strong></li>
		<li class="list-group-item">England<span>351/9</span><br>Pakistan<span>297</span><br><em>England won by 54 runs.</em></li>
		<li class="list-group-item"><strong>Afghanistan tour of Ireland 2019</strong></li>
		<li class="list-group-item">Ireland<span>210</span><br>Afghanistan<span>138</span><br><em>Ireland won by 72 runs.</em></li>
		<li class="list-group-item"><strong>Pakistan Women tour of South Africa</strong></li>
		<li class="list-group-item">SA Women<span>138/3</span><br>Pakistan Women<span>139/6</span><br><em>Pakistan Women won by 4 wickets.</em></li>
		<li class="list-group-item"><strong>ICC Women's T20 World Cup Americas Region Qualifier</strong></li>
		<li class="list-group-item">USA Women<span>116/6</span><br>Canada Women<span>81/6</span><br><em>USA Women won by 35 runs.</em></li>
		<li class="list-group-item"><strong>County Championship Division Two</strong></li>
		<li class="list-group-item">Derbyshire<span>253/5</span><br>Glamorgan<br><em>Stumps Day 1.</em></li>
		<li class="list-group-item"><strong>ICC Men's T20 World Cup Africa Region Final</strong></li>
		<li class="list-group-item">Botswana<br>Namibia<br><em>Match abandoned.</em></li>
		<li class="list-group-item">Ghana<br>Nigeria<br><em>Match abandoned.</em></li>
		<li class="list-group-item">Uganda<br>Kenya<br><em>Match abandoned.</em></li>
	</ul>
